<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Admin page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>

<body style="padding: 0px">

<!-- верхнее окно-->

<div class="example-container" style="padding-left: 15px; background-color: #2c2c2c; ">
    <div class="row" style="height: 50px; padding-top: 10px">

        <div class="col-sm-auto" style="color: aliceblue">
            <h4 th:text="${userByEmail.getEmail()} + ' with roles:'">Email</h4>
        </div>

        <div class="col-sm-auto" style="color: aliceblue; padding-left: 0px">
            <h4>
                <tr th:each="role : ${userByEmail.getRoles()}" th:text="${role.getRole().substring(5)}">Role</tr>
            </h4>
        </div>
        <div class="col-sm-1" style="padding-top: 5px; margin-left: auto; margin-right: 5px">
            <h6><a style="color: #a9a9a9" href="/logout">Logout</a></h6>
        </div>
    </div>
</div>

<!-- основное окно-->

<div class="row">
    <div class="col-2" style="height: 1000px; padding-top: 15px; background-color: white; padding-right: 0px">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
               href="#list-home" role="tab" aria-controls="home">Admin</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
               href="#list-profile" role="tab" aria-controls="profile">User</a>
        </div>
    </div>
    <div class="col-10" style="padding-top: 15px">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <h1>Admin panel</h1>
                <div class="tabbable" id="tabs-376986">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#panel-931532" data-toggle="tab">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#panel-931531" data-toggle="tab">New User</a>
                        </li>
                    </ul>



                    <!--ListUsers-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="panel-931532">
                            <div class="card">
                                <div class="card-header">
                                    All users
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tBody"></tbody>
                                        </table>
                                    </blockquote>
                                </div>
                            </div>
                        </div>

                        <!--  add user     -->

                        <div class="tab-pane" id="panel-931531">
                            <div class="card">
                                <div class="card-header">
                                    Add new users
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">

                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form class="add-post-form">
                                                        <div class="form-group text-center">
                                                            <label for="firstName">
                                                                First Name
                                                            </label>
                                                            <input required style="width: 400px; margin-left: 33%"
                                                                   type="text" minlength="3"
                                                                   class="form-control"
                                                                   id="firstName" name="firstName"/>
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <label for="lastName">
                                                                Last Name
                                                            </label>
                                                            <input required style="width: 400px; margin-left: 33%"
                                                                   type="text" minlength="3"
                                                                   class="form-control" id="lastName" name="lastName"/>

                                                        </div>
                                                        <div class="form-group text-center">
                                                            <label for="age">
                                                                Age
                                                            </label>
                                                            <input required style="width: 400px; margin-left: 33%"
                                                                   type="number" min="0" pattern="[0-9]{,3}"
                                                                   class="form-control"
                                                                   id="age" name="age"/>
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <label for="email">
                                                                Email
                                                            </label>
                                                            <input required style="width: 400px; margin-left: 33%"
                                                                   type="email"
                                                                   class="form-control"
                                                                   id="email" name="age"/>
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <label for="password">
                                                                Password
                                                            </label>
                                                            <input required style="width: 400px; margin-left: 33%"
                                                                   type="password"
                                                                   class="form-control" id="password" name="password"/>
                                                        </div>
                                                        <div class="form-group text-center">
                                                            <label for="rolesAdd"><b>Role</b></label>
                                                            <select size="2" multiple name="roles"
                                                                    class="form-control form-control-sm"
                                                                    id="rolesAdd"
                                                                    required>
                                                                <option value="ADMIN">Admin
                                                                </option>
                                                                <option value="USER">User
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <button style="margin-left: 45%" type="button"
                                                                id="addUser"
                                                                onclick="addUserData()"
                                                                class="btn btn-success b">
                                                            Add new user
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- user page     -->

            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <h1>User information-page</h1>
                <


                div class="card">
                <div class="card-header">
                    About user
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody id="userById"></tbody>
                        </table>
                    </blockquote>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="editUserDiv">
    <div class="modal fade" id="editUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editUserForm">
                        <div class="form-group">
                            <label for="editId" class="col-form-label">ID:</label>
                            <input type="text" readonly="readonly" class="form-control"
                                   id="editId" name="id" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="editFirstName" class="col-form-label">First Name:</label>
                            <input type="text" class="form-control"
                                   id="editFirstName" name="firstName" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="editLastName" class="col-form-label">Last Name:</label>
                            <input type="text" class="form-control"
                                   id="editLastName" placeholder="Last Name" name="lastName" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="editAge" class="col-form-label">Age:</label>
                            <input type="number" class="form-control"
                                   id="editAge" name="age" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="editEmail" class="col-form-label">Email:</label>
                            <input type="text" class="form-control"
                                   id="editEmail" placeholder="Email" name="email" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="editPassword" class="col-form-label">Password:</label>
                            <input type="password" class="form-control"
                                   id="editPassword" name="password"/>
                        </div>
                        <div>
                            <label>Roles:
                                <br>
                                <select size="2" multiple name="roles" id="editRoles" required="required"
                                        style="width: 300%;">
                                    <option selected="selected" value="USER">USER</option>
                                    <option value="ADMIN">ADMIN</option>
                                </select>
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary"
                            onclick="updateUser()">Edit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="deleteUserDiv">
    <div class="modal fade" id="deleteUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delModalLabel">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="deleteUserForm">
                        <div class="form-group">
                            <label for="deleteId" class="col-form-label">ID:</label>
                            <input type="text" readonly="readonly" class="form-control"
                                   id="deleteId" name="id" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="deleteFirstName" class="col-form-label">First Name:</label>
                            <input type="text" readonly="readonly" class="form-control"
                                   id="deleteFirstName" placeholder="First Name" name="firstName" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="deleteLastName" class="col-form-label">Last Name:</label>
                            <input type="text" readonly="readonly" class="form-control"
                                   id="deleteLastName" placeholder="Last Name" name="lastName" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="deleteAge" class="col-form-label">Age:</label>
                            <input type="number" readonly="readonly" class="form-control"
                                   id="deleteAge" placeholder="Age" name="age" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="deleteEmail" class="col-form-label">Email:</label>
                            <input type="text" readonly="readonly" class="form-control"
                                   id="deleteEmail" placeholder="Email" name="email" value=""/>
                        </div>
                        <div>
                            <label>Roles:
                                <br>
                                <select  size="2" multiple name="roles" id="deleteRoles" required="required"
                                         disabled="disabled"
                                         style="width: 300%;">
                                    <option selected="selected" value="2">USER</option>
                                    <option value="1">ADMIN</option>
                                </select>
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" onclick="deleteUserById()">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


<script src="../static/JsApi.js"></script>


</body>
</html>













