<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show User</title>
</head>
<body>
<p th:text="${person.getName()}">Name</p>
<p th:text="${person.getLastName()}">Last Name</p>
<p th:text="${person.getAge()}">Age</p>
<p th:text="${person.getCountry()}">Country</p>
<p th:text="${person.getPhoneNumber()}">PhoneNumber</p>
<p th:text="${person.getEmail()}">Email</p>
<p th:text="${person.getPassword()}">Password</p>
<br/>
<td>
    <li th:each="role: ${person.getRoles()}" th:text="${role.getRole()}"></li>
</td>
<hr/>
<br/>
<a th:href="@{/admin/{id}/Update(id=${person.getId()})}">Update user</a>
<br/>
<br/>
<form th:method="DELETE" th:action="@{/admin/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete user"/>
</form>
<br/>
<br/>
<a href="/admin">return Admin</a>
<br/>
<br/>
<a href="/logout">Logout</a>
</body>
</html>