<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <br/>
    <label for="lastName">Enter lastName: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName Error</div>
    <br/>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
    <br/>
    <br/>
    <label for="country">Enter country: </label>
    <input type="text" th:field="*{country}" id="country"/>
    <div style="color:red" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Country Error</div>
    <br/>
    <br/>
    <label for="phoneNumber">Enter phoneNumber: </label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>
    <div style="color:red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">PhoneNumber Error
    </div>
    <br/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    <br/>
    <br/>
    <label for="roles"><b>Role</b></label>
    <select multiple class="form-control form-control-sm"
            id="roles" name="listRoles1" size="2" required>
        <option value="1">ADMIN</option>
        <option selected="selected" value="2">USER</option>
    </select>
    <br/>
    <input type="submit" value="Update User!"/>
</form>
<br/>
<br/>
<a href="/admin">return Admin</a>
<br/>
<br/>
<a href="/logout">Logout</a>
</body>
</html>